# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

__pycache__
*.ipynb

development/*
!development/
!development/dev.ipynb
!development/output.png
!development/output2.png
!development/output3.png
!development/k_means_archetypes_sr.json
!development/pros_ionia_metrics.json
data_dragon
public